In [1]:
import pandas as pd
import numpy as np

In [5]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [6]:
train.head()

,Donut ID,Donut Estimator 1,Donut Area of cross section,Donut Area of circumference circle,Donut area of central hole / Donut Area of circumscribed circle,Donut Estimator 2,Donut Estimator 3,Donut Estimator 4,Donut Estimator 5,Donut volume Estimator 6,Location,Donut Density,Donut volume
0,1,317.61,496.27,682.80,0.27,818.25,788.89,567.20,557.68,579.17,Mumbai,14.3,52.1
1,2,315.19,538.85,645.77,0.17,800.65,798.97,560.37,561.20,577.59,Mumbai,15.8,54.2
2,3,317.44,514.24,661.30,0.22,795.79,801.74,579.30,584.34,575.06,Mumbai,16.3,54.8
3,4,336.62,562.98,709.35,0.20,888.29,862.33,596.66,588.34,629.96,Mumbai,16.6,56.6
4,5,331.76,558.90,635.54,0.12,801.16,811.17,593.59,599.81,586.01,Mumbai,18.3,56.9

In [7]:
train.shape

(749, 13)